<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85a6e9">  <td>22/12/29 14:28:26</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;SetUp.TearDown()[pri:0, instance:TestAnnotation.testAnnotation@a3d8174]">&lt;&lt;TearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2122049087</td>   <td></td> </tr>
<tr bgcolor="c2959f">  <td>22/12/29 14:28:24</td>   <td>-1957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testAnnotation.test()[pri:0, instance:TestAnnotation.testAnnotation@a3d8174]">test</td> 
  <td>main@2122049087</td>   <td></td> </tr>
<tr bgcolor="85a6e9">  <td>22/12/29 14:28:21</td>   <td>-5717</td> <td>&nbsp;</td><td title="&gt;&gt;SetUp.Setup()[pri:0, instance:TestAnnotation.testAnnotation@a3d8174]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2122049087</td>   <td></td> </tr>
</table>
